/* home page styles */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

body{
    padding-top: 0;
    
}
#main{
    font-family: Segoe UI;
}
.navbar{
    background-color: #25A18E ;
    
}
.navbar-brand{
    color: #9FFFCB;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.logout{
    color:#fff
}
.logout:hover{
    color:#9FFFCB;
}

.main-box{
    margin-top: 2rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

.plus-btn{
    background-color: #00A5CF;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 2rem;
    text-align: center;
    line-height: 1;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.plus-btn:hover, .plus-btn:focus{
    border: 0;
    outline: none;

}

.bill-item{
    cursor: pointer;
    background-color: #7AE582;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: #000;
}

#bill-name{
    color: #004E64;
}
.expence-title{
    text-align: center;
    background-color: #25A18E;
    border-radius: 20px 20px 0 0;
    font-size: 1.5rem;
    color: #fff;
}
.expence-item{
    background-color: #9FFFCB;
    border-radius: 20px;
    margin-top: 20px;
}
.cost-detail{
    padding: 10px;
}
.cost-price{
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    color: #004E64;
}
.num-units{
    color: #00A5CF;
    font-weight: bold;
    font-size: 1.2rem;
}
.description{
    padding-top: 5px;
}